<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Guns_of_the_Old_West</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body style="
    background: rgb(235,168,21);
    background: linear-gradient(90deg, rgba(235,168,21,1) 0%, rgba(200,77,10,1) 77%);
">
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="text-muted footer">
    <div class="container mb-2" style="overflow: hidden;">
        <p class="h6" style="float: left; color: black;">&copy; 2021 - Guns of the Old West</p> 
        <p class="h6" style="float: right; color: black;">Ward Vercruyssen</p>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>